/* wrap */
.wrap {
  position: relative;
}

/* header */
.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 397px;
  border-bottom: 14px solid #e2383f;
  z-index: 10;
}
.header .content {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.nav-item {
  border-bottom: transparent solid 2px;
  position: relative;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 28px;
  font-size: 16px;
  font-weight: 600;
  color: #747474;
  text-align: center;
}
.nav-item:hover {
  border-bottom: #e2383f solid 2px;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  padding: 8px 4px;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.dropdown-menu li {
  padding: 4px 0;
  border-bottom: #e5e5e5 dotted 1px;
}
.dropdown-menu li:hover a {
  font-weight: 600;
}
.dropdown-menu li:last-child {
  border-bottom: none;
}
.dropdown-item {
  border-right: none;
  font-size: 12px;
  font-weight: 400;
}
.main1 {
  max-height: 399px;
  background: url(../img/01_bg.png);
}
.main1 .carousel-inner {
  max-width: 1170px;
}
.main1 .carousel-control-prev,
.main1 .carousel-control-next {
  justify-content: start;
}
.main1 .carousel-control-prev-icon,
.main1 .carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}
.main1 .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* title_wrap */
.title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  width: 100%;
}
.main_title {
  color: #494848;
  font-weight: 600;
  font-size: 24px;
}
.main_title small {
  color: #e2383f;
  font-size: 14px;
  font-weight: 400;
}
.main3 .main_title {
  color: #e2383f;
}
.main3 .main_title small {
  color: #b6b6b6;
}
.title_wrap i svg {
  color: #494848;
  width: 24px;
  height: 24px;
}
.main3 .title_wrap i svg {
  color: #b6b6b6;
  width: 24px;
  height: 24px;
}
/* main 공통 css */
.main2,
.main3,
.main4 {
  padding: 32px 0;
}

/* main2 */
.main2 {
  background-image: url(../img/02_bg.png);
  background-size: auto 100%;
}
.main2 .row {
  padding: 24px 14px 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main2 .bbs_img {
  display: block;
  min-width: 240px;
  min-height: 151px;
  border-radius: 12px;
  position: relative;
}
.main2 .bbs_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.main2 .bbs_img .text {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  min-width: 240px;
  height: 54px;
  padding: 11px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 12px 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.main2 .news_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main2 .news_list li {
  color: #818181;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 0;
  border-bottom: 1px dashed #818181;
}
.main2 .news_list li a {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.issue_slide {
  border-radius: 8px;
  margin: 24px 14px 0 14px;
}
.issue_slide .carousel-inner {
  border-radius: 8px;
}

/* main3 */
.main3 {
  background-image: url(../img/03_bg2.png), url(../img/03_bg1.gif);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: auto 100% auto;
}
.main3 .row {
  padding: 24px 14px 0;
}
.main3 .left {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 24px 14px 0 14px;
  gap: 32px;
}
.main3 .poster {
  background: url(../img/03_poster_bg.png) 100% 100% no-repeat;
  padding: 29px 32.4px;
}
.main3 .text_box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #fff;
}
.main3 .sub_title {
  font-size: 34px;
  text-align: right;
  font-weight: 400;
  text-wrap: wrap;
}
.main3 .event_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}
.main3 .event_list li {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 0 8px 0;
  border-bottom: 1px dashed #818181;
}
.main3 .icon_inner {
  padding: 24px 14px 0 14px;
}
.main3 .link_list {
  display: flex;
  justify-content: space-between;
  gap: 42px 60px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main3 .link_item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 6px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

/* main4 */
.main4 {
  background: url(../img/04_bg.jpg) no-repeat center top / cover;
  padding-bottom: 30px;
}
.main4 .col-sm-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.main4 .book {
  width: 217px;
  height: 284px;
  box-shadow: 6px 6px 7.3px 0 rgba(0, 0, 0, 0.2);
}
.main4 .book_name {
  color: #df2718;
  text-align: center;
  font-size: 22px;
}
.main4 .text_list {
  display: block;
  width: 100%;
  padding: 0 14px;
}
.main4 .text_item {
  color: #818181;
  padding: 4px;
  border-top: 1px dashed #818181;
}
.main4 .text_item:last-child {
  border-bottom: 1px dashed #818181;
}
.book_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book_wrap .book {
  padding-bottom: 6px;
}

.notice_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px 14px 10px;
}
.notice_list li {
  color: #818181;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 0;
  border-bottom: 1px dashed #818181;
}
.notice_list li:first-child {
  border-top: 1px dashed #818181;
}
.notice_list li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site_list {
  padding: 24px 14px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}
.site_item {
  padding: 0 8px;
}
.site_item:nth-child(2),
.site_item:nth-child(5) {
  border-right: 1px dashed #818181;
  border-left: 1px dashed #818181;
}
.banner_slide {
  height: 76px;
  background: #fff;
  border: 1px solid #8f989d;
  border-radius: 8px;
  padding: 12px 10px;
  margin: 0 14px;
}

.banner_slide .carousel-inner {
  width: 100%;
}
.img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_img {
  width: 30%;
  flex-shrink: 0;
}

.inner_img a {
  display: block;
  width: 100%;
}

.inner_img img {
  width: 100%;
  height: auto;
  display: block;
}

/* footer */
footer {
  background: #4d4d4d;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_util {
  width: 100%;
  display: flex;
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #262626;
}
.footer_util li:first-child,
.footer_util li:last-child {
  color: #df2718;
}
.footer_util li::after {
  content: "/";
  padding: 0 24px;
  color: #fff;
}
.footer_util li:last-child::after {
  display: none;
}

.footer .bottom {
  padding: 24px 15px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .bottom .text_wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .bottom .text_wrap p {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.footer .bottom .sns_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .bottom .sns_list li a {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer .bottom .sns_list li a .text_box {
  font-size: 14px;
  font-weight: 300;
}
.footer .bottom .sns_list li a .text_box p:first-child {
  padding-bottom: 4px;
}

/* 모바일 */
@media (max-width: 576px) {
  /* header */
  .header {
    display: block;
    border-bottom: 7px solid #e2383f;
  }
  .header .navbar-brand img {
    width: 70%;
  }
  .header .navbar-toggler {
    border: none;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .main_title {
    font-size: 18px;
  }
  .main_title small {
    font-size: 12px;
  }
  /* main1 */
  .main1 .carousel-control-prev-icon,
  .main1 .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
  }
  .main1 .carousel-control-prev,
  .main1 .carousel-control-next {
    justify-content: center;
  }
  .carousel-indicators {
    margin-bottom: 0;
  }

  /* main2 */
  .main2 .row {
    padding: 24px 0 14px;
  }
  .main2 .col-sm-7 {
    padding-top: 16px;
  }
  .main2 .col-12:last-child,
  .main3 .col-12:last-child {
    padding-top: 32px;
  }

  /* main3 */
  .main3 .row {
    padding: 24px 0;
  }
  .main3 .left {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .main3 .sub_title {
    font-size: 28px;
  }
  .main3 .link_list {
    margin: 0;
    gap: 8px;
    padding-bottom: 40px;
    justify-content: space-around;
  }
  .main3 .link_list img {
    width: 80%;
  }

  /* main4 */
  .main4 .row {
    gap: 32px;
  }
  .main4 .col-sm-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .main4 .notice_list {
    padding: 24px 12px 32px;
  }
  .main4 .site_list {
    padding: 24px 0px 32px;
  }
  .main4 .notice_list li a p:first-child {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    width: 70%;
  }
  .main4 .site_list .site_item {
    padding: 0;
  }
  .site_item:nth-child(2),
  .site_item:nth-child(5) {
    border: none;
  }
  .site_item:nth-child(odd) {
    border-right: 1px dashed #818181;
  }
  .banner_slide {
    height: inherit;
  }
  .main4 .carousel-control-next-icon,
  .main4 .carousel-control-prev-icon {
    width: 1rem;
    height: 1rem;
  }

  /* footer */
  .footer {
    padding: 0 12px;
  }
  .footer .footer_util {
    flex-wrap: wrap;
    gap: 8px;
  }
  .footer_util li::after {
    padding: 0 8px;
  }
  .footer .bottom {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
  }
}

/*탭 */
@media (max-width: 768px) {
}

/*1000이상 데스크탑 */
@media (max-width: 992px) {
}

/* 1200이상 데스크탑 */
@media (max-width: 1200px) {
}

/* 1400이상 데스크탑 */
@media (max-width: 1400px) {
}
